.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  background-color: white;
  position: relative;
}
.close__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
.close__button:hover .icon__close {
  color: #3f51b5;
  cursor: pointer;
}
.icon__close {
  color: white;
  background-color: transparent;
}
